/************************ Header ************************/

#Header .top_bar_left, .header-classic #Top_bar, .header-stack #Top_bar, .header-fixed #Top_bar, .header-below #Top_bar, #Header_creative, #Top_bar #menu {
	background-color: #fff;
}
#Top_bar .top_bar_right:before {
	background-color: #e3e3e3;
}
#Header .top_bar_right {
	background-color: #f5f5f5;
}
#Top_bar .top_bar_right a {
	color: #444444;
}
#Top_bar .menu>li>a {
	color: #444444;
}
#Top_bar .menu>li.current-menu-item>a, #Top_bar .menu>li.current_page_item>a, #Top_bar .menu>li.current-menu-ancestor>a, #Top_bar .menu>li.current_page_ancestor>a, #Top_bar .menu>li.hover>a {
	color: #2991d6;
}
#Top_bar .menu>li a:after {
	background: #2991d6;
}
.menu-highlight #Top_bar #menu>ul>li.current-menu-item>a, .menu-highlight #Top_bar #menu>ul>li.current_page_item>a, .menu-highlight #Top_bar #menu>ul>li.current-menu-ancestor>a, .menu-highlight #Top_bar #menu>ul>li.current_page_ancestor>a, .menu-highlight #Top_bar #menu>ul>li.hover>a {
	background: #2991d6;
}
#Top_bar .menu>li ul {
	background-color: #F2F2F2;
}
#Top_bar .menu>li ul li a {
	color: #5f5f5f;
}
#Top_bar .menu>li ul li a:hover, #Top_bar .menu>li ul li.hover>a {
	color: #2e2e2e;
}
#Top_bar .search_wrapper {
	background: #2991D6;
}
#Subheader ul.breadcrumbs li, #Subheader ul.breadcrumbs li a {
	color: rgba(136, 136, 136, 0.6);
}
#menu>ul>li>a {
	font-size: 17px;
	font-weight: 400;
	font-family: Roboto, Arial, Tahoma, sans-serif;
}